<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Template </title>
    </head>
    <body>
        <form>
        <input type="text" id="text1"></input>
        <input type="button" id="addButton" value="Add"></input>
        <input type="button" id="displayButton" value="Display"></input>
        <br>
        <br>
        <input type="text" id="text2"></input>
        <input type="button" id="searchButton" value="Search"></input>
        <input type="button" id="removeButton" value="Remove"></input>
        </form>
        <p id="SearchResults"></p><br>
        <p>Shopping List : <br>
        <span id = "Result"></span>
        </p>
        <script>
        
        //Code here...
        var Result = [];
        document.getElementById("addButton").addEventListener("click", ADD)
        function ADD(){
             var input1 = document.getElementById("text1").value
             Result.push(input1)
        }
        document.getElementById("displayButton").addEventListener("click", displayBtn)
        function displayBtn(){
            document.getElementById("Result").innerHTML = Result
            document.getElementById("text1").value = ""
        }

        
        document.getElementById("searchButton").addEventListener("click", searchBtn)

        
        function searchBtn(){
            var input2 = document.getElementById("text2").value
            var found = false
            for(var i =0; i<=Result.length ; i++){
                if(input2 == Result[i]){
                    document.getElementById("SearchResults").innerHTML = Result[i] + " found in your list"
                    found = true
                    break;
                }
            }
            if(!found){
                document.getElementById("SearchResults").innerHTML = "Item didn't find!"
            }
        }
        document.getElementById("removeButton").addEventListener("click", removeBtn)
        function removeBtn(){
            Result = Result.splice(i,1)
            document.getElementById("SearchResults").innerHTML = Result
            alert ("One item removed!")
        }
        
        
        </script>
    </body>
</html>