<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Arrays and selection lists </title>
    </head>
    <body>
        <h2>PC component selector</h2>
        <select id="ComponentsList">
            <option value="">Choose a PC component</option>
        </select>
        <input type="button" value="Select" id="selectButton">
        <br>
        <image id="componentImage" src="ComponentsImages/PC.png" width="200" height="150"></image>
        <script>
            //Code here...
            const pcComponents = ["Processor", "Motherboard", "Processor cooling", "RAM", "GPU", "Storage", "Case", "Chassis cooling", "PSU", "OS"]
            for(let i= 0; i<pcComponents.length ; i++){
                let compList=document.getElementById("ComponentsList");
                compList.options[i+1]=new Option(pcComponents[i])
            }
            document.getElementById("selectButton").addEventListener("click", research)

            function research(){
                let selectedItem = compList.selectedIndex
                if(selectedItem>= 0){
                    
                }
            }

            
            // document.getElementById("selectButton").addEventListener("click", confirmationBtn)
            // function confirmationBtn(){
            //     if(ComponentsList.selectedIndex == 0 ){
            //         alert("please select an item!")
            //     }else if(ComponentsList.selectedIndex == 1){
            //         document.getElementById("componentImage").src = "ComponentsImages/Processor.png"
            //     }else if(ComponentsList.selectedIndex == 2){
            //         document.getElementById("componentImage").src = "ComponentsImages/Motherboard.png"
            //     }else if(ComponentsList.selectedIndex == 3){
            //         document.getElementById("componentImage").src = "ComponentsImages/Processor cooling.png"
            //     }else if(ComponentsList.selectedIndex == 4){
            //         document.getElementById("componentImage").src = "ComponentsImages/RAM.png"
            //     }else if(ComponentsList.selectedIndex == 5){
            //         document.getElementById("componentImage").src = "ComponentsImages/GPU.png"
            //     }else if(ComponentsList.selectedIndex == 6){
            //         document.getElementById("componentImage").src = "ComponentsImages/Storage.png"
            //     }else if(ComponentsList.selectedIndex == 7){
            //         document.getElementById("componentImage").src = "ComponentsImages/Case.png"
            //     }else if(ComponentsList.selectedIndex == 8){
            //         document.getElementById("componentImage").src = "ComponentsImages/Chassis cooling.png"
            //     }else if(ComponentsList.selectedIndex == 9){
            //         document.getElementById("componentImage").src = "ComponentsImages/PSU.png"
            //     }else if(ComponentsList.selectedIndex == 10){
            //         document.getElementById("componentImage").src = "ComponentsImages/OS.png"
            //     }
            //     else{
            //         alert("Error from code")
            //     }
            // }
        </script>
    </body>
</html>