<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Arrays and selection lists </title>
    </head>
    <body>
        <h2>PC component selector</h2>
        <select id="ComponentsList">
            <option value="">Choose a PC component</option>
            <option value="Processor">Processor</option>                                  <! –– index 1 ––> 
            <option value="Motherboard">Motherboard</option>
            <option value="Processor cooling">Processor cooling</option>
            <option value="RAM">RAM</option>
            <option value="GPU">GPU</option>                                              <! –– index 5 ––> 
            <option value="Storage">Storage</option>
            <option value="Case">Case</option>
            <option value="Chassis cooling">Chassis cooling</option>                      <! –– index 8 ––> 
            <option value="PSU">PSU</option>
            <option value="OS">OS</option>
        </select>
        <input type="button" value="Select" id="selectButton">
        <br>
        <image id="componentImage" src="ComponentsImages/PC.png" width="200" height="150"></image>
        <script>
            //Code here...
            itemArray = ["Processor", "Motherboard", "Processor cooling", "RAM", "GPU", "Storage", "Case", "Chassis cooling", "PSU", "OS"]
            document.getElementById("selectButton").addEventListener("click", confirmationBtn)
            function confirmationBtn(){
                let selectionBox = document.getElementById("ComponentsList")
                let itemSelected = selectionBox.value

                if(itemSelected.selectedIndex )
            }
        </script>
    </body>
</html>